.addon-tel {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 59px;
    height: 59px;

    background-color: $mercury;
    content: "";

    @media (max-width: 659px) {
      display: none;
    }
  }

  &::after {
    position: absolute;
    top: 20px;
    right: -17px;
    width: 59px;
    height: 59px;

    background-image: url("../img/phone-icon.svg");
    background-repeat: no-repeat;
    content: "";

    @media (max-width: 659px) {
      display: none;
    }
  }
}
