.advantages {
 padding-top: 17px;
 padding-bottom: 282px;

 text-align: center;

 background-image: url("../img/screen-smile.png"), url("../img/iphone-mockup.png");
 background-repeat: no-repeat;
 background-position: center bottom -7px, center bottom -43px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  margin-bottom: 32px;

  text-align: center;
}

.advantages__title {
  @include font(18px, 24px);

  margin: 0 0 11px 0;

  font-weight: 700;
  color: $black;
}

.advantages__text {
  @include font(14px, 24px);

  margin: 0;

  font-weight: 400;
  color: $ebony-clay;
}


