.competition {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    display: grid;
    grid-template-columns: 434px 434px;
    column-gap: 74px;
    grid-template-rows: 156px auto auto auto auto;
    row-gap: 69px;
  }
}

.competition__condition {
  @include font(14px, 30px);

  margin: 0;
  padding: 54px 20px 0 20px;

  text-align: center;
  font-weight: 400;
  color: $ebony-clay;

  @media (min-width: $tablet-width) {
    @include font(18px, 30px);

    padding: 100px 65px 0 65px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 756px;
    padding: 100px 92px 0 92px;
  }
}

.competition__condition_display {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.competition__user {
  @media (min-width: $tablet-width) and (max-width: 1199px) {
    padding: 82px 0 0 0;
    border: none;
  }

  @media (min-width: $tablet-width) {
    border: none;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 0;
    padding: 22px 0 0 0;
  }
}

.competition__contact {
  @media (max-width: $tablet-width) {
    padding-top: 42px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    grid-row: 3/4;
    margin-bottom: 0;
  }
}

.competition__contact_flex {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    column-gap: 74px;
    padding-bottom: 23px;
  }
}

.competition__contact .fieldset__field {
  @media (min-width: $tablet-width) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 0;
  }
}

.competition__contact .fieldset__field:last-child {
  margin-bottom: 0;
}

.competition__contact-label {
  @media (min-width: $tablet-width) {
    margin-left: 17px;
  }
}

.competition__achievements {
  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    grid-row: 4/5;
    margin-bottom: 0;
  }
}

.competition__achievements .fieldset__list {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}

.competition__achievements-item:not(:last-child) {
  @media (min-width: $mobile-width) and (max-width: $desktop-width) {
    margin-bottom: 47px;
  }
}

.competition__achievements-item:nth-last-child(-n+3) {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.competition__travel {
  @media (max-width: 659px) {
    padding-top: 110px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 2/3;

    height: 310px;
    margin-bottom: 0;
    padding: 16px 74px;
  }
}

.competition__travel-item:not(:last-child) {
  margin-bottom: 39px;
}

.competition__travel-title {
  @media (max-width: $tablet-width) {
    left: -4px;
  }
}

.competition__review {
  @media (max-width: 659px) {
    padding-top: 88px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    grid-row: 5/6;
    margin-bottom: 0;
  }
}

.competition__review-title {
  @media (max-width: $tablet-width) {
    left: 61px;
  }
}

.competition__submit {
  text-align: center;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    grid-row: 6/7;
  }
}

.competition__submit-requirement {
  @include font(14px, 30px);

  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  color: $ebony-clay;
}
