.contacts {
  text-align: center;
  position: relative;
  padding-bottom: 25px;
   &::before {
    display: block;
    position: absolute;
    bottom: -28px;
    width: 100%;
    height: 91px;
    background-image: url("../img/triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 1200px 91px;

    content: "";
   }
}

.contacts__subtitle {
  @include font(24px, 28px);
  color: $ebony-clay;
}

.contacts__type-info {
  margin-bottom: 32px;
}

.contacts__type-title {
  margin: 0 0 13px 0;
  @include font(18px, 24px);
  font-weight: 700;
  color: $ebony-clay;
}

.contacts__type-text {
  margin: 0;
  text-decoration: none;

  @include font(24px, 32px);
  color: $cerise-red;
}
