.contacts {
  text-align: center;
  position: relative;
  padding-top: 44px;
  padding-bottom: 22px;
   &::before {
    display: block;
    position: absolute;
    bottom: -28px;
    width: 100%;
    height: 63px;
    background-image: url("../img/triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 1200px 91px;

    content: "";
   }
}

.contacts__subtitle {
  @include font(24px, 28px);

  margin-top: 0;
  margin-bottom: 31px;
  color: $ebony-clay;
}

.contacts__type-info {
  margin-bottom: 17px;
}

.contacts__type-title {
  @include font(18px, 24px);

  margin: 0 0 4px 0;

  font-weight: 700;
  color: $ebony-clay;
}

.contacts__type-text {
  @include font(24px, 32px);
  
  margin: 0;
  text-decoration: none;

  color: $cerise-red;
}
