.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.copyright__text {
  margin: 0;
  @include font(14px, 18px);
  font-weight: 400;
  color: $ebony-clay;
}

.copyright__logo-icon {
  fill: $cerise-red;
    &:hover {
      fill: $ebony-clay;
    }
    &:active {
      fill: $ebony-clay-30;
    }
}
