.info-input {
  width: 276px;
  height: 59px;

  padding: 23px 20px;
  box-sizing: border-box;

  border: 2px solid $mercury;
  border-radius: 1px;
  outline: none;
    &:hover {
      border: 2px solid $ebony-clay;
    }
    &:active {
      border: 2px solid $cerise-red;
    }
    &:focus {
      border: 2px solid $cerise-red;
    }
}

.info-input::placeholder {
    @include font(18px, 30px);

    font-weight: 400;
    color: $ebony-clay;
  }







// TRASH
// .text-field {
//   min-width: 276px;
//   height: 59px;

//   margin: 10px 0 29px 22px;
//   padding: 23px 20px;
//   box-sizing: border-box;
//   border-radius: 1px;
//   outline: none;
//   border: 2px solid $mercury;
//     &:hover {
//       border: 2px solid $ebony-clay;
//     }
//     &:active {
//       border: 2px solid $cerise-red;
//     }
//     &:focus {
//       border: 2px solid $cerise-red;
//     }
// }

// .text-field::placeholder {
//   @include font(18px, 30px);
//   font-weight: 400;
//   color: $ebony-clay;
// }

// @media screen and (min-width:$tablet-width) {
//   .text-field_margin {
//     margin-bottom: 0;
//   }
// }
