.input-radio {
  display: flex;
  align-items: flex-start;
  margin-left: 22px;
}

.input-radio__label {
  position: relative;
  max-width: 270px;
  margin-bottom: 50px;
  margin-left: 22px;

  overflow: hidden;
  text-overflow: ellipsis;
  transform: translateY(3px);

  @include font(18px, 30px);
  font-weight: 400;
  color: $ebony-clay;
}

.input-radio__control:focus-visible + .input-radio__label-wrapper .input-radio__button {
  box-shadow: 0 0 0 2px $cerise-red;
}

.input-radio__control:checked + .input-radio__label-wrapper .input-radio__button {
  width: 41px;
  height: 41px;

  border: 2px solid $mercury;
  border-radius: 50%;
  box-sizing: border-box;

  background: $white;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.input-radio__label-wrapper {
  display: flex;
  align-items: flex-start;

  cursor: pointer;
}

.input-radio__button {
  width: 41px;
  height: 41px;
  box-sizing: border-box;
  border-radius: 50%;

  outline: none;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;

  &:hover {
    border: 2px solid $ebony-clay;
    border-radius: 50%;
  }
  &:active {
    border: 2px solid $cerise-red;
    border-radius: 50%;
  }
  &:focus {
    border: 2px solid $cerise-red;
    border-radius: 50%;
  }
}
