.main-navigation__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation__link {
  color: $white;
      &:hover {
        color: $cerise-red;
      }
      &:active {
        color: $cerise-red-30;
      }
}

@media screen and (max-width: 1199px) {
  .main-navigation__item {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width:320px;
    min-height: 63px;

    background-color: $ebony-clay;
    box-shadow: 0px 1px 0px #000000,
                inset 0px 1px 0px rgba(255, 255, 255, 0.15);
  }

  .main-navigation__link {
    display: inline-block;
    @include font(18px, 32px);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    color: $white;
      &:hover {
        color: $cerise-red;
      }
      &:active {
        color: $white-30;
      }
  }
}


@media screen and (min-width: $desktop-width) {
  .main-navigation {
    display: flex;
    align-items: center;
    position: absolute;
    height: 110px;
    padding: 48px 130px;
    box-sizing: border-box;
    background-color: $black-30;
  }

  .main-navigation__list {
    display: flex;
    justify-content: center;
    column-gap: 78px;
  }

  .main-navigation__link {
    @include font(18px, 18px);
    font-weight: 400;
    text-decoration: none;
    color: $white;
  }


  .main-navigation__link_current {
    position: relative;
      &::after {
        position: absolute;
        top: 35px;
        right: 0;
        left: 0;
        bottom: 0;

        height: 2px;
        background-color: $white;
        content: "";
     }
  }
}
