// .main-navigation-wrapper {
//   display: none;
// }
.main-navigation__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation__item {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width:320px;
  min-height: 63px;

  background-color: $ebony-clay;
  box-shadow: 0px 1px 0px #000000,
              inset 0px 1px 0px rgba(255, 255, 255, 0.15);
}

.main-navigation__link {
  display: inline-block;
  @include font(18px, 32px);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  color: $white;
    &:hover {
      color: $cerise-red;
    }
    &:active {
      color: $white-30;
    }
}

