.menu-toggle {
  background-color: transparent;
  border: none;
  outline: none;
}

.menu-toggle_display{
  display: none;
}

@media screen and (min-width: $desktop-width) {
  .menu-toggle {
    display: none;
  }
}
