.offer {
  min-height: 250px;

  padding: 46px 0 70px 0;
  box-sizing: border-box;

  text-align: center;
}

.offer__text {
  margin: 0 0 40px 0;
  @include font(24px, 28px);

  color: $ebony-clay;
}
