.offer {
  min-height: 250px;

  padding: 42px 0 70px 0;
  box-sizing: border-box;

  text-align: center;
}

.offer__text {
  @include font(24px, 28px);
  margin: 0 0 30px 0;

  color: $ebony-clay;
}

.offer__text:nth-child(2) {
  margin-bottom: 0;
}
