@import "../global/media-queries.scss";

.page-header {
  background-repeat: no-repeat;

  @media (max-width: $tablet-width) {
    background-image: url("../img/back/back-mobile.png");
    background-position: 0 247px;
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back/back-mobile@2x.png");
    }
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/back/back-tablet.png");
    background-position: 0 250px;
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back/back-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/back/back-desktop.png");
    background-position: 0 0;
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back/back-desktop@2x.png");
    }
  }
}

.page-header__logo {
  cursor: pointer;

  fill: $white;

  &:hover {
    fill: $cerise-red;
  }

  &:active {
    fill: $white-30;
  }
}

.page-header__logo-letters {
  display: none;

  @media #{$mq-mobile-only} {
    display: block;
  }
}

.page-header__logo-glasses {
  display: none;

  @media #{$mq-tablet-only} {
    display: block;
  }
}

.page-header__logo-stars {
  display: none;

  @media #{$mq-desktop} {
    display: block;
  }
}
