.page-footer {
 text-align: center;
 padding: 66px 0 40px 0;
}

.page-footer__logo-color {
  margin-bottom: 41px;

  fill: $ebony-clay;
    &:hover {
      fill: $cerise-red;
    }
    &:active {
      fill: $ebony-clay-30;
    }
}

.page-footer__social {
  margin-bottom: 41px;
}

@media screen and (min-width:$tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width:$tablet-width) and (max-width:$desktop-width) {
  .page-footer {
    padding: 0 20px 40px 20px;
  }
}

@media screen and (min-width:$desktop-width) {
  .page-footer {
    padding: 0 130px 75px 130px;
  }
}
