.page-header {
  background-repeat: no-repeat;

  @media screen and (max-width: $tablet-width) {
    background-image: url("../img/back/back-mobile.png");
    background-position: 0 247px;
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back/back-mobile@2x.png");
    }
  }

  @media screen and (min-width: $tablet-width) {
    background-image: url("../img/back/back-tablet.png");
    background-position: 0 250px;
    background-size: 100% ;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back/back-tablet@2x.png");
    }
  }

  @media screen and (min-width: $desktop-width) {
    background-image: url("../img/back/back-desktop.png");
    background-position: 0 0;
    background-size: 100% ;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back/back-desktop@2x.png");
    }
  }
}

.page-header__logo {
  cursor: pointer;
}

.page-header__logo-icon {
  fill: $white;

  &:hover {
    fill: $cerise-red;
  }

  &:active {
    fill: $white-30;
  }
}
