.page-header__menu-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  min-height: 63px;

  padding: 0 20px;
  box-sizing: border-box;

  background-color: $ebony-clay;
  // background-color: $black-30; для десктопа
}

// Добавить этот класс к бургеру или кнопке закрыть с js
.page-header__menu-buttons_active {
  background-color: $ebony-clay;
  box-shadow: 0px 1px 0px #000000,
              inset 0px 1px 0px rgba(255, 255, 255, 0.15);
}

.page-header__logo {
  cursor: pointer;
}

.page-header__logo-icon {
  fill: $white;
    &:hover {
      fill: $cerise-red;
    }
    &:active {
      fill: $white-30;
    }
}

@media screen and (min-width: $desktop-width) {
.page-header__menu-buttons {
  max-width: 150px;
  padding: 0;
  background-color: transparent;
 }
}
