@import "../global/variables.scss";

.photos {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
}

.photos__panorama-of-the-day {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}
