.promo {
  padding-top: 30px;
  background-image: url("../img/screen.png"), url("../img/mockup.png"), url('../img/back-mobile.png');
  background-position: center bottom 324px, center bottom 267px, top;
  background-repeat: no-repeat;
}

.promo__download-buttons-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding-top: 26px;
  padding-bottom: 31px;
  box-sizing: border-box;

  background-color: $mirage;
}

.promo__download-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 280px;
  height: 55px;

  margin-bottom: 29px;

  text-align: center;
  text-decoration: none;
  color: $white;

    &:hover {
      background-color: $white;
      color: $cerise-red;
    }
    &:active {
      background-color: $white;
      color: $cerise-red-30;
    }
}

.promo__slogan {
  @include font(24px, 28px);

  text-align: center;
  margin: 0 auto 320px auto;

  color: $white;
}

.promo__buttons {
  display: flex;
  align-items: baseline;
  column-gap: 35px;
  margin-bottom: 18px;
}

.promo__available-on {
  @include font(14px, 24px);

  margin: 0;
  color: $white;
}
