.promo {
  padding-top: 30px;
  background-image: url("../img/screen.png"), url("../img/mockup.png"), url('../img/back-mobile.png');
  background-position: center bottom 343px, center bottom 286px, top;
  background-repeat: no-repeat;
}

.promo__mobile-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  padding-top: 28px;
  padding-bottom: 38px;
  box-sizing: border-box;

  background-color: $mirage;
}

.promo__download-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 280px;
  height: 55px;

  margin-bottom: 29px;

  text-align: center;
  text-decoration: none;
  color: $white;

    &:hover {
      background-color: $white;
      color: $cerise-red;
    }
    &:active {
      background-color: $white;
      color: $cerise-red-30;
    }
}

.promo__slogan {
  text-align: center;

  margin: 0 auto 320px auto;

  @include font(24px, 28px);
  color: $white;
}

// .promo__mockup {
//   position: relative;
// }

// .promo__mockup::after {
//   position: absolute;

//   width: 111px;
//   height: 187px;
//   left: 105px;
//   top: 122px;

//   content: url("../img/screen.png");
// }

.promo__buttons {
  display: flex;
  align-items: baseline;
  column-gap: 35px;
}

.promo__available-on {
  margin: 28px 0 0 0;

  @include font(14px, 24px);

  color: $white;
}
