.testimonials {
 text-align: center;
 margin-bottom: 81px;
 padding: 0 20px;
 box-sizing: border-box;
}

.testimonials__item {
  margin: 0;
}

.testimonials__author {
  margin-bottom: 30px;
}

.testimonials__author-name {
  @include font(18px, 30px);
  font-weight: 700;
  font-style: normal;

  color: $black;
}

.testimonials__author-info {
  @include font(14px, 30px);
  font-weight: 400;

  color: $ebony-clay;
}

.testimonials__text {
  margin: 0 0 44px 0;
  @include font(14px, 30px);
  font-weight: 400;
}

