.top-background {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 171px;
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;

  @media (min-width: $mobile-width) {
    justify-content: center;
    background-repeat: no-repeat;
  }
}
