.top-background {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 171px;

  @media (min-width: $tablet-width) {
    height: 280px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 48px;
  }
}
