@import "../../global/mixins.scss";
@import "../../global/media-queries.scss";
@import "./mixins.scss";

.main-navigation {
  &:not(.main-navigation_opened) {
    display: flex;
    justify-content: space-between;
    background-color: $black-30;

    @media (min-width: $mobile-width) and (max-width: $desktop-width) {
      height: 66px;
      padding: 22px 20px;
      box-sizing: border-box;
    }

    @media #{$mq-tablet} {
      height: 109px;
      padding: 27px 0 43px 20px;

      box-sizing: border-box;
    }
  }

  &_opened {
    .main-navigation__item_main {
      @media #{$mq-before-desktop} {
        @include main-navigation-item();

        min-height: 109px;
      }
    }

    .main-navigation__item:not(.main-navigation__item_main) {
      @media #{$mq-before-desktop} {
        display: flex;
      }
    }
  }
}

.main-navigation__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media #{$mq-desktop} {
    display: flex;
    column-gap: 78px;

    width: 100%;
    height: 110px;

    padding: 20px 130px;
    box-sizing: border-box;

    background-color: $black-30;
  }
}

.main-navigation__item {
  @media#{$mq-desktop} {
    display: flex;
    justify-content: center;
    align-items: center;

    &:first-child {
      margin-right: auto;
    }
  }
}

.main-navigation__item:not(.main-navigation__item_main) {
  @media #{$mq-before-desktop} {
    @include main-navigation-item();

    display: none;
  }
}

.main-navigation__item-main-navigation-toggle-button {
  @media (min-width: $mobile-width) and (max-width: $desktop-width) {
    position: absolute;
    right: 20px;
  }

  @media #{$mq-mobile-only} {
    top: 21px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    top: 43px;
  }
}

.main-navigation__link {
  outline: none;
  color: $white;

  @media #{$mq-before-desktop} {
    @include font(18px, 32px);

    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }

  @media #{$mq-desktop} {
    @include font(18px, 18px);

    font-weight: 400;
    text-decoration: none;
    color: $white;
  }

  &:hover {
    color: $cerise-red;
  }

  &:active {
    color: $cerise-red-30;
  }

  &:focus-visible {
    @include focus-box-shadow();
  }

  &_current {
    @media #{$mq-desktop} {
      position: relative;

      &::after {
        position: absolute;
        top: 35px;
        right: 0;
        left: 0;
        bottom: 0;

        height: 2px;
        background-color: $white;
        content: "";
      }
    }
  }
}

@import "./main-navigation-toggle-button/main-navigation-toggle-button.scss";
@import "./main-navigation-logo/main-navigation-logo.scss";
