.container {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding-right: 22px;
    padding-left: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 130px;
    padding-left: 130px;
  }
}

.container_photos {
  padding-left: 20px;
  padding-right: 20px;
}
