@import "variables.scss";

.container {
  padding: 0 $container-mobile-padding;

  @media (min-width: $tablet-width) {
    padding: 0 $container-tablet-padding;
  }

  @media (min-width: $desktop-width) {
    padding: 0 $container-desktop-padding;
  }
}
