.page {
  height: 100%;
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding-bottom: 40px;

  font-family: "Open Sans", "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
