:root {
$white: #FFFFFF;
$white-30: rgba(255, 255, 255, 0.3);
$concrete : #F2F2F2;
$ebony-clay: #283645;
$ebony-clay-30: rgba(40, 54, 69, 0.3);
$black: #000000;
$cerise-red : #D22856;
$cerise-red-30: rgba(210, 40, 86, 0.3);
}
