@import "../../../global/mixins.scss";
@import "../../../global/media-queries.scss";

/*
    Моя идея:
    Оставляем тупо ссылку с классом main-navigation-logo, описываем размеры на все экраны и фоном задаем логотип.
    Нужно экспортировать изображения для всех экранов для состояний наведения (hover) и нажатия (active),
    здесь нужно описатьэти состояния с заменой на соответствующий background-image
*/

.main-navigation-logo {
    display: block;

    outline: none;

    &:focus-visible {
        @include focus-box-shadow();
    }
}

.main-navigation-logo__picture,
.main-navigation-logo__image {
    display: block;
}

.main-navigation-logo__image {
    @media #{$mq-tablet} {
        width: 145px;
        height: 40px;
    }

    @media #{$mq-desktop} {
        width: 147px;
    }
}
