.page__body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;

  font-family: "Open Sans", "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.page__title {
  @include font(24px, 32px);

  text-align: center;
  margin: 0;

  font-weight: 300;
  color: $white;
}
