@import "global/fonts.scss";
@import "global/variables.scss";
@import "global/page.scss";
@import "global/visually-hidden.scss";


@import "blocks/page-header.scss";
@import "blocks/main-navigation.scss";
@import "blocks/menu-toggle.scss";
@import "blocks/promo.scss";
@import "blocks/button-rounded.scss";
@import "blocks/offer.scss";
@import "blocks/advantages.scss";
@import "blocks/testimonials.scss";
@import "blocks/slider-controls.scss";
@import "blocks/sub.scss";
@import "blocks/contacts.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/page-footer.scss";
@import "blocks/map.scss";
@import "blocks/top-background.scss";
@import "blocks/page-main.scss";

@import "blocks/fieldset.scss";
@import "blocks/competition.scss";

@import "blocks/input-checkbox.scss";
@import "blocks/input-radio.scss";
@import "blocks/margin-off.scss";
@import "blocks/text-field.scss";
@import "blocks/contact-label.scss";
@import "blocks/button.scss";

@import "blocks/sliced-back.scss";

@import "blocks/modal.scss";
