@import "global/fonts.scss";
@import "global/variables.scss";
@import "global/page.scss";
@import "global/visually-hidden.scss";

@import "blocks/main-navigation.scss";
@import "blocks/page-header.scss";
@import "blocks/menu-toggle.scss";
@import "blocks/promo.scss";
@import "blocks/button-rounded.scss";
@import "blocks/offer.scss";
@import "blocks/advantages.scss";
@import "blocks/testimonials.scss";
@import "blocks/slider-controls.scss";
@import "blocks/sub.scss";
@import "blocks/contacts.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/page-footer.scss";
@import "blocks/map.scss";

@import "blocks/sliced-back.scss";
